*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(25, 190, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 67%;
    height: 490px;
    background-color: rgb(45, 49, 65);;
}
.table{
    font-size: 25px;
}
.table_head_row{
    color: #fff;
    text-align: left;
}
.table_td{
    color: #fff;
    text-align: left;
}
th, td{
    padding: 20px 60px;
    border: 1px solid black;
}
.btn{
    width: 78px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(22, 164, 159);
    color: #fff;
    border: none;
    border-radius: 10px;
}
.container strong{
    font-size: 25px;
    color: rgb(191, 191, 205);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}